.ResultListItem:hover {
  .pill-tray-wrapper .pill {
    max-width: 100%;
    box-sizing: border-box;
    transition: max-width 1s;
  }
}

.ResultListItem {
  box-sizing: border-box;
  overflow: hidden;
  border-left: 10px solid #fff;
  position: relative;

  /**
   * Define the content formatting that's specific to this app
   **/

  header {
    small.result-type {
      font-size: 10px;
      font-weight: normal;
    }
  }

  .content-area {
    max-width: 100%;
    padding: 14px;
    flex: auto;
    align-items: center;
    header h3 {
      margin: 0px;
      padding: 0px;
      font-size: 18px;
      line-height: 18px;
      margin-bottom: 6px;
    }
  }

  footer {
    font-size: 14px;
    color: #444;
  }

  .ItemHeader {
    font-weight: 700;
    display: flex;
    align-items: first baseline;
    margin-bottom: 11px;
  }

  .HeaderLink {
    display: flex;
    justify-content: space-around;
  }
}

@media only screen and (max-width: 500px) {
  .ResultListItem .ItemHeader {
    display: block;
  }
}
